<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Access Denied')"></head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="fragments/header :: navbar"></header>

<main class="container text-center mt-5 flex-grow-1">
    <h1 class="text-danger">403 - Access Denied</h1>
    <p>You do not have permission to access this resource.</p>
    <a class="btn btn-primary" th:href="@{/home}">Go to Home</a>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
